body {
  font-family: Arial;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
}

.container {
  width: 60%;
  margin: auto;
  background: rgba(0,0,0,0.3);
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
}

input, button {
  padding: 10px;
  margin-top: 10px;
}
