body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}
